.modal.fade#modalEditValueActuator(role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Change Actuator Value
        button.close(data-dismiss="modal" aria-label="Close" onclick="emptySettingsActuatorForm()")
          i.fas.fa-times
      
      .modal-body
      