script(src="/js/components/modalNewActuator.js")

.modal.fade#modalNewActuator(tabindex="-1" role="dialog" aria-labelledby="modalNewActuatorLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5.modal-title#modalNewActuatorLabel New Actuator
				button.close(data-dismiss="modal" aria-label="Close" onclick="emptyNewActuatorForm()")
			
			.modal-body
				form(enctype="application/json")
					.form-group
						label Actuator Name
						input.form-control#modalNewActuator-actuatorname(type="text", name="actuatorname" placeholder="Lights(Bathroom)")
						.invalid-feedback Please check your actuator name
				
					.form-group
						label Actuator Type
						input.form-control#modalNewActuator-type(type="text", name="type" placeholder="Ligths")
						.invalid-feedback Please check your actuator type

					.form-group
						label Arduino ID
						input.form-control#modalNewActuator-arduinoid(type="number", name="arduinoid" placeholder="12")
						.invalid-feedback Please check your Arduino ID

					.form-group
						label Arduino Value ID
						input.form-control#modalNewActuator-arduinovalueid(type="text", name="arduinovalueid" placeholder="LIG")
						.invalid-feedback Please check your Arduino Value ID
						
			.modal-footer
				button.btn.btn-secondary(data-dismiss="modal" onclick="emptyNewActuatorForm()") Close
				button.btn.btn-primary(onclick="saveActuator()") Save Actuator