script(src="/js/components/modalNewArduino.js")

.modal.fade#modalNewArduino(tabindex="-1" role="dialog" aria-labelledby="modalNewArduinoLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title#modalNewArduinoLabel New Arduino
        button.close(data-dismiss="modal" aria-label="Close" onclick="emptyNewArduinoForm()")
          i.fas.fa-times
          
      .modal-body
        form(enctype="application/json")
          .form-group
            label Arduino Name
            input.form-control#modalNewArduino-arduinoname(type="text", name="arduinoname" placeholder="Humidity Arduino")
            .invalid-feedback Please check your arduino name

          .form-group
            label Static IPv4 address
            input.form-control#modalNewArduino-staticip(type="text", name="staticip" placeholder="192.168.178.111")
            .invalid-feedback Please check your Static IPv4 Address
            
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal" onclick="emptyNewArduinoForm()") Close
        button.btn.btn-primary(onclick="saveArduino()") Save Arduino