script(src="/js/components/modalEditActuator.js")

.modal.fade#modalEditActuator(tabindex="-1" role="dialog" aria-labelledby="modalEditActuatorLabel" aria-hidden="true" style="z-index: 2000")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title#modalEditActuatorLabel Edit Actuator 
          span#modalEditActuator-actuatorid
        button.close(data-dismiss="modal" aria-label="Close" onclick="emptyEditActuatorForm()")
          i.fas.fa-times

      .modal-body
        form(enctype="application/json")
          .form-group
            label Actuator Name
            input.form-control#modalEditActuator-actuatorname(type="text", name="actuatorname" placeholder="Lights(Bathroom)")
            .invalid-feedback Please check your actuator name
        
          .form-group
            label Actuator Type
            input.form-control#modalEditActuator-type(type="text", name="type" placeholder="Ligths")
            .invalid-feedback Please check your actuator type

          .form-group
            label Arduino ID
            input.form-control#modalEditActuator-arduinoid(type="number", name="arduinoid" placeholder="12")
            .invalid-feedback Please check your Arduino ID

          .form-group
            label Arduino Component ID
            input.form-control#modalEditActuator-arduinocomponentid(type="text", name="arduinocomponentid" placeholder="LIG")
            .invalid-feedback Please check your Arduino Value ID
            
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal" onclick="emptyEditActuatorForm()") Cancel
        button.btn.btn-primary(onclick="saveEditActuator()") Save Actuator