doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title DomoticaTi
    include includes.pug
    script(src="/js/arduino.js")

  body()
    include components/navbar.pug

    h3 Dashboard not available. Coming SOON!!