doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title DomoticaTi
    include includes.pug

  body()
    form(style="max-width: 400px; width: 100%; margin: 0 auto")
      h1 Please Sign In
      .form-group
        label Email Address
        input.form-control#loginEmail(type="email" placeholder="example@example.com")
      
      .form-group
        label Password
        input.form-control#loginPassword(type="password")

    div(style="max-width: 400px; width: 100%; margin: 0 auto")
      button.btn.btn-primary(onclick="login()") Login
