[Unit]
Description=UWSGI config service for project DOMOTICATI

[Service]
Type=simple
ExecStart=uwsgi /home/pi/domoticati/config_files/uwsgi/uwsgi_config.ini

[Install]
WantedBy=multi-user.target
